@import 'mixkit';

.arrow{
  &--up{
    @include triangle(40px, up, orange);
    @include mq(medium){
      @include triangle(60px, up, purple);
    }
  }
  &--right{
    @include triangle(40px, right, green);
  }
}

.area-test{
  @include square(400px);
  @include center-content;
  position: relative;
  border: 2px dashed sandybrown;
  
  &__overlay{
    @include clickThrough;
    @include fill-container;
    position: absolute;
    opacity: .2;
    background-image: url('http://placekitten.com/400/400');
  }
  
  &__button{
    @include text-middle(50px);
    @include p-x(20px);
    @include delinkinfy();
    @include trans();
    display: inline-block;
    background-color: palegoldenrod;
    &:hover{
      background-color: chocolate;
    }
  }
}
