/* =======================
 *      Variables
 * ======================= */

$breakpoints: (
    small: 320px,
    smedium: 400px,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px
);


/* =======================
 *     Media Queries
 * ======================= */

// Mobile first media queries
@mixin mq($size){
    @media all and (min-width: map-get($breakpoints, $size)){
      @content;
    }
}

// Print styles
@mixin printStyle{
  @media only print {
    @content;
  }
}

// IE styles for those rare unhappy occasions
@mixin ieStyle($size:''){
  @if $size != '' {
    @media all and (min-width: map-get($breakpoints, $size)) and (-ms-high-contrast: none), (-ms-high-contrast: active){
      @content;
    }
  }
  @else {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active){
      @content;
    }
  }
}


/* =======================
 *        Text
 * ======================= */

// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
  font-size: ($sizeValue * 16) * 1px;
  font-size: $sizeValue * 1rem;
}

// Center text in block, by line-heigh
@mixin text-middle($height){
  line-height: $height;
  height: $height;
}

// Centered and "middled" text
@mixin text-centered($height){
  @include text-middle($height);
  text-align: center;
}

// Icon created with font awesome unicode.
// Requires that Font Awesome is added.
@mixin icon-font($code, $color: inherit){
  &:before{
    content: $code;
    color: $color;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: .5em;
  }
}

@mixin delinkinfy($textColor: #000){
  text-decoration: none;
  color: $textColor;
}


/* =======================
 *       Position
 * ======================= */

// Center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// Center content inside block
@mixin center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Clearfix
@mixin clearfix() {
  content: "";
  display: table;
  table-layout: fixed;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
  clear: both;
}


/* =======================
 *    Form generation
 * ======================= */

@mixin square($size: 45px) {
  width: $size;
  height: $size;
}

@mixin circle($size: 45px) {
  @include square($size);
  border-radius: $size;
}

@mixin triangle( $color, $size: 50px, $direction: 'right') {
  $borderSide: 'left';

  @if $direction == 'up' {
    $borderSide: 'bottom';}

  @else if $direction == 'down'{
    $borderSide: 'top';}

  @else if $direction == 'left'{
    $borderSide: 'right'; }

  height: 0;
  width: 0;
  border-style: solid;
  border-width: $size;
  border-color: transparent;
  border-#{$borderSide}-color: $color;
  border-#{$borderSide}-width: $size * 1.678;
}


/* =======================
 *    Padding & Margin
 * ======================= */

@mixin no-pm {
  padding: 0px;
  margin: 0px;
}

@mixin p-x($size: 0){
  padding-left: $size;
  padding-right: $size;
}

@mixin p-y($size: 0){
  padding-top: $size;
  padding-bottom: $size;
}

@mixin m-x($size: 0){
  margin-left: $size;
  margin-right: $size;
}

@mixin m-y($size: 0){
  margin-top: $size;
  margin-bottom: $size;
}

@mixin list-reset {
  @include no-pm;
  list-style: none;
}

// Stretch
@mixin fill-container {
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}


/* =======================
 *    Background images
 * ======================= */

// convention bgi = background image
@mixin bgi-contain {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

@mixin bgi-fill {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


/* =======================
 * Animations & transition
 * ======================= */

@mixin trans($duration: 200ms) {
  transition: all $duration;
}


/* =======================
 * Black Magick  ))<>((
 * ======================= */

// Lets you make buttons accessible under
// graphic overlays.
@mixin clickThrough(){
  pointer-events: none;
}